{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container scrollspy-example">
  <h1 align="center">Notes</h1>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
      {{ note.data }}
      <button
        type="button"
        class="btn-close float-end"
        onClick="deleteNote({{ note.id }})"
      ></button>
    </li>
    {% endfor %}
  </ul>
</div>
<div>
  <form method="POST">
    <div class="mx-auto px-5" style="width: 700px; margin-bottom: 100px">
      <textarea
        class="form-control"
        id="note"
        name="note"
        rows="3"
        placeholder="Important and Secure your note here."
      ></textarea
      ><br />
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>
</div>

{% endblock %}
