{% extends "base.html" %} 
{% block title %}Sign Up{% endblock %} 
{% block content %}
<form method="POST">
  <h1 align="center">Sign Up</h1>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter Your Email"
    />
  </div>
  <div class="mb-3">
    <label for="firstName" class="form-label">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter Your First Name"
    />
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      name="lastName"
      placeholder="Enter Your Last Name"
    />
  </div>
  <div class="mb-3">
    <label for="password1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
    />
  </div>
  <div class="mb-3">
    <label for="password2" class="form-label">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
    />
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}
